
@{
    ViewData["Title"] = "Index";
}

<h2>Thông tin sinh viên</h2>

<p>Họ tên: @ViewBag.HoTen</p>
<p>MSSV: @ViewBag.MSSV</p>
<p>Năm: @ViewBag.Nam</p>
<!-- Chèn ảnh -->
<img src="~/Images/dongocquan.jpg" alt="Em bị lỗi hiển thị ảnh" style="width:300px; height:auto;" />
