@{
    ViewData["Title"] = "Home Page";
}

<section>
<nav>
    <ul>
        <li><a href="~/Trang-chu">Bản thân</a></li>
        <li><a href="~/May-tinh">Máy Tính</a></li>

    </ul>
</nav>
    <article>
        <h1>Do Ngoc Quan</h1>
        <p>JAKE DONG</p>
    </article>
</section>