@{
    ViewData["Title"] = "Home Page";
}

<section>
    <nav>
        <ul>
            <li><a href="~/Baitap-01">Bài tập 01</a></li>
            <li><a href="~/Baitap-02">Bài tập 02</a></li>

        </ul>
    </nav>
    <article>
        <h1>Do Ngoc Quan</h1>
        <p>MSSV: 1822020710</p>
    </article>
</section>