@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>NHÓM 3HTD</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Do Ngoc Quan</h1>
        <p>JAKE DONG</p>
    </article>
</section>

<footer>
    <p>Copyright &copy; Do Ngoc Quan- @DateTime.Now.Year</p>
</footer>